

<h1>
    @ViewData["Title"]
</h1>
<h1>
    @ViewBag.Name
</h1>
@if (ViewBag.InfoTitle == null)
{
   
}
else
{
    <h1 class="text-info">@ViewBag.InfoTitle</h1>
    <h6 class="text-info">@ViewBag.InfoMessage</h6>
}

@*<hr />
    <h3>Exception Details.</h3>
    <div class="alert alert-danger">
        <h5>Exception Path</h5>
        <hr />
        <p>
            @ViewBag.ExceptionPath
        </p>
    </div>
    <div class="alert alert-danger">
        <h5>Exception Message</h5>
        <hr />
        <p>
            @ViewBag.ExceptionMessage
        </p>
    </div>
    <div class="alert alert-danger">
        <h5>Exception MesStack Tracesage</h5>
        <hr />
        <p>
            @ViewBag.StackTrace
        </p>
    </div>*@



