@model IEnumerable<HotelManagement.Models.Rooms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumebr)
            </th>
            <th>
                @Html.DisplayName("Types")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Researved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumebr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.types)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Researved)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <div class="card-deck">
       
        <div class="card m-3" style="min-width: 18rem; max-width:30%;">
            <img class="card-img-top imageThumbNail" style="height:auto;" src="~/images/Hotel/Rooms/Room1.png" />
        </div>
        <div class="card m-3" style="min-width: 18rem; max-width:30%;">
            <img class="card-img-top imageThumbNail" style="height:auto;" src="~/images/Hotel/Rooms/Room2.png" />
        </div>
        <div class="card m-3" style="min-width: 18rem; max-width:30%;">
            <img class="card-img-top imageThumbNail" style="height:auto;" src="~/images/Hotel/Rooms/thAIUI87AH.jpg" />
        </div>
        @*<div class="card m-3" style="min-width: 18rem; max-width:30%;">
            <img class="card-img-top imageThumbNail" style="height:auto;" src="~/images/Hotel/Rooms/thKW83PU7D.jpg" />
        </div>*@
    </div>
</table>
